{% extends "ateneodecebutk/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" id="downloads">
        <div class="panel-heading">
          <h3 class="panel-title">Electronic Class Records</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><em>To download all your templates, click each file that belongs to you.</em></li>
              <ul>
                {% for file in ecr_files %}
                  <li><a href="/files/gradebook/{{ file }}">{{ file }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" id="downloads">
        <div class="panel-heading">
          <h3 class="panel-title">Curriculum Framework Templates</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><a href="/files/curriculum/Form_1.dotx">Form 1 - Subject Area Long-Term Action Goals</a></li>
            <li><a href="/files/curriculum/Form_2.dotx">Form 2 - IPP REFLECTION Goals (EUs and EQs) + ACTION Goals (Milestones)</a></li>
            <li><a href="/files/curriculum/Form_3.dotx">Form 3 - Milestones and Key Assessments</a></li>
            <li><a href="/files/curriculum/Form_4.dotx">Form 4 - Content, Performance, and Formation Standards</a></li>
          </ul>
          <em>References</em>
          <ul class="list-unstyled">
            <li><a href="/files/curriculum/Graduate_Outcomes.pdf">List of Graduate Outcomes for use with Form 1</a></li>
            <li><a href="/files/curriculum/Sample.pdf">Examples filled-in forms (Computer)</a></li>
            <li><a href="http://prezi.com/v_wj32eyvfv0/?utm_campaign=share&utm_medium=copy">Watch the Prezi presentation of these templates.</a></li>
            <li><a href="http://www.youtube.com/watch?v=rzEn4YlksDc"><em><strong>Bonus video!</strong> What if Hitler was Mandaue City's Division Superintendent?</em></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


