{% extends "ateneodecebutk/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1><strong class="text-primary">GS Gradebook</strong></h1>
    <p class="lead">
      This page is for listing the available ECR summaries.
    </p>
    <p class="lead">
      <a href="/downloads">
        Click here if you're looking for the ECR templates for download.
      </a>
    </p>

    </p>
  </div>

  {% for grade_level in grade_levels %}
    <div class="row">
      <div class="col-md-12">
        <h3>Grade {{ grade_level}}</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>&nbsp;</th>
                {% for sections_by_level in sections %}
                  {% if forloop.counter == grade_level %}
                    {% for section in sections_by_level %}
                      <th>{{ section.1 }}</th>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for subjects_by_level in subject_array %}
                {% if forloop.counter == grade_level %}
                  {% for subject in subjects_by_level %}
                    <tr>
                      <th>{{ subject.1 }}</th>
                      {% for sections_by_level in sections %}
                        {% if forloop.counter == grade_level %}
                          {% for section in sections_by_level %}
                            <td>{{ section.1 }}</td>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
