{% extends "ateneodecebutk/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1><strong class="text-primary">GS Gradebook</strong></h1>
    <p class="lead">
      This page is for listing the available ECR summaries.
    </p>
    <p class="lead">
      <a href="/downloads">
        Click here if you're looking for the ECR templates for download.
      </a>
    </p>

    </p>
  </div>

  {% for level in class_table %}
    <div class="row">
      <div class="col-md-12">
        <h3>Grade {{ level.grade_level }}</h3>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th>&nbsp;</th>
              {% for code, section in level.sections %}
                <th>{{ section }}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for subject, section_data in level.subjects %}
                <tr>
                  <th>{{ subject }}</th>
                  {% for status in section_data %}
                    <td>{{ status }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endfor %}

  <pre>{{ class_table|pprint }}</pre>

{% endblock %}
