{% extends "ateneodecebutk/base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Welcome to <strong class="text-primary">SHS-AdC Tools for Teachers</strong></h1>
    <p class="lead">
      This is an ad-hoc website made for the purpose of having a standard go-to website for all things developed by the ICT team for the teachers.
    </p>
    <p class="lead">
      All projects are found below.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Electronic Class Records</h3>
        </div>
        <div class="panel-body">
          <p>View the ECR summaries or download the latest ECR templates by going to the ECR page.</p>
          <p><a class="btn btn-primary" href="/gradebook"><span class="glyphicon glyphicon-th-list"></span> Upload your ECR</a><p>
          <p><a class="btn btn-default" href="/gradebook"><span class="glyphicon glyphicon-th-list"></span> View ECR summaries</a><p>
          <p><a class="btn btn-default" href="/downloads"><span class="glyphicon glyphicon-th-list"></span> Download ECR templates</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Curriculum Framework</h3>
        </div>
        <div class="panel-body">
          <p>Get the necessary templates for the planning your Curriculum Framework.</p>
          <a class="btn btn-default" href="/downloads"><span class="glyphicon glyphicon-book"></span> Go to Curriculum Framework Templates</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Trends</h3>
        </div>
        <div class="panel-body">
          <p class="text-muted">
            <strong><em>Coming soon!</em></strong> <br>
            Investigate different trends and various statistics related to our pupil's grades and exam results.</p>
          <a class="btn btn-default" href="#" disabled><span class="glyphicon glyphicon-stats"></span> View Trends</a>
        </div>
      </div>
    </div>
  </div> -->
{% endblock content %}
